@import "../../sass/reset";
@import "../../sass/variable";

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: $red;
  .movies {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
  .navList {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    .button {
      padding: 0.5rem 1rem;
      background-color: $darkGreen;
      color: #fff;
      border-radius: 0.3rem;
      border: none;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        background-color: $softGreen;
        transition: all 1s;
      }
    }
  }
}
